<div id= "banner" class="cover_home">
<div id="hero-text">
	<h1 class="typed2">INNOVAR</h1>
	<h1 class="element typed"></h1>
	</div>
</div>





<script>
	$(function(){
		$(".element").typed({
			strings: ["^1000 para transformar", "^1000 para crecer", "^1000 para ser diferente", "^1000 para desarrollar talento", "^1000 para construir líneas de negocio" ],
			typeSpeed: 100,
			loop: true,
			backDelay: 500,
		});
	});
</script>