<div class="container">
<div id="rocko">
<div class="col-md-4 col-md-offset-1">
	<div class="imagen">
		<%= image_tag src="Alberto.jpg" %>
	</div>
</div>
<div class="col-md-5">
	<h3>Alberto Vazquez</h3>
	<h5>Director de Academy</h5>
			<%= link_to "https://www.facebook.com/crea111", :target => "_blank" do %>
			<span class="fa fa-facebook" aria-hidden="true"></span>
			<% end %>
			<%= link_to "http://twitter.com/YoSoyestadocero", :target => "_blank" do %>
			<span class="fa fa-twitter" aria-hidden="true"></span>
			<% end %>
			<%= link_to "https://www.linkedin.com/in/albertovazquez", :target => "_blank" do %>
			<span class="fa fa-linkedin" aria-hidden="true"></span>
			<% end %>
			<br><br>
<p>
Promedio final de diez en la carrera universitaria; un libro escrito INTERNET PARA PYMES; conferencista -en estrategias y tendencias de negocio, creatividad e innovación- a nivel internacional desde 1996; miembro de varias redes empresariales; creador de varios emprendimientos y colaborador en varias revistas de negocio. <br> Fundador del “Open Coffee Club”, iniciativa que conecta a empresarios y emprendedores para hacer crecer los negocios de los socios. </p>
</div>
</div>
</div>