<div class="container">
<div id="rocko">
<div class="col-md-4 col-md-offset-1">
	<div class="imagen">
		<%= image_tag src="alfredo.jpg" %>
	</div>
</div>
<div class="col-md-5">
	<h3>Alfredo Fuentes</h3>
	<h5>Idearia Lab Perú</h5>
			<%= link_to "http://twitter.com/alfredof", :target => "_blank" do %>
			<span class="fa fa-twitter" aria-hidden="true"></span>
			<% end %>
			<%= link_to "http://linkedin.com/in/alfredofuentes", :target => "_blank" do %>
			<span class="fa fa-linkedin" aria-hidden="true"></span>
			<% end %>
			<%= link_to "http://alfredof.com", :target => "_blank" do %>
			<span class="fa fa-bolt" aria-hidden="true"></span>
			<% end %>
			<br><br>
<p>
Licenciado en Informatica por el Instituto Politécnico Nacional de Mexico y con una Maestría en Inteligencia Artificial por la Fundación Arturo Rosenblueth de Mexico. <br>
Igualmente es fundador y CTO de Innovafunding, Startup fintech que conecta inversionistas con empresas que necesitan financiamiento a través de la factura como instrumento financiero, www.innovafunding.com</p>
</div>
</div>
</div>