<div id="modli">
<!-- Modal -->
<div class="modal fade" id="CruzModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h5>Caso de éxito</h5>
                <hr class="lefty">
                <h3 class="izquierdo">Cementos Cruz Ázul</h3>
                <br>
                <h5>Reto:</h5>
                    <p>Complicaciones de relación y operación con los distribuidores de la cementera.</p>
                <h5>Solución:</h5>
                <p>Un nuevo modelo negocio para los distribuidores.</p>

                <h5>Resultados:</h5>
                <p>El desarrollo de distribuidores provocó que su nueva planta, un año después de arrancarla, llegara a su máxima capacidad, pasando de un 25% de participación de mercado en 2015 a 30% en 2017.</p>

                <button type="button" class="button button_red" data-toggle="modal" data-target="#PhotoModal"> Conoce más</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--  -->