<div id="modli">
<!-- Modal -->
<div class="modal fade" id="BroseModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h5>Caso de éxito</h5>
                <hr class="lefty">
                <h3 class="izquierdo">Brose</h3>
                <br>
                <h5>Reto:</h5>
                    <p>Necesidad de provocar internamente la generación de proyectos de intraemprendimeinto que generarán nuevos productos y servicios.</p>
                <h5>Solución:</h5>
                <p>Desarrollo de modelo de innovación para programa de intraemprendimiento propio, capacitación de mentores del programa, acompañamiento personal junto con una plataforma digital que ayudó a dar seguimiento a los proyectos a distancia. </p>

                <h5>Resultados:</h5>
                <p>5 proyectos de nuevas líneas de producto que explotarán a partir de 2018.</p>

                <button type="button" class="button button_red" data-toggle="modal" data-target="#PhotoModal"> Conoce más</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--  -->