<div id="modli">
<!-- Modal -->
<div class="modal fade" id="ConagraModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h5>Caso de éxito</h5>
                <hr class="lefty">
                <h3 class="izquierdo">Conagra</h3>
                <br>
                <h5>Reto:</h5>
                    <p>Contaban con un proceso de innovación propio pero no claro ni actualizado.</p>
                <h5>Solución:</h5>
                <p> Diseño y entrenamiento de algunos módulos del proceso de innovación para la implementación y generación de nuevos productos y servicios.</p>

                <h5>Resultados:</h5>
                <p>Cambio de mentalidad del equipo de Supply Chain y R&D</p>

                <button type="button" class="button button_red" data-toggle="modal" data-target="#PhotoModal"> Conoce más</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--  -->