<div id="modli">
<!-- Modal -->
<div class="modal fade" id="InstaModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h5>Caso de éxito</h5>
                <hr class="lefty">
                <h3 class="izquierdo">InstaCase</h3>
                <br>
                <div id="boby">
                <%= image_tag "instacase.jpg" %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--  -->