<div class="container">
<div id="rocko">
<div class="col-md-4 col-md-offset-1">
	<div class="imagen">
		<%= image_tag src="Jorge.png" %>
	</div>
</div>
<div class="col-md-5">
	<h3>Jorge Peralta García</h3>
	<h5>Director General</h5>
<%= link_to "https://www.facebook.com/jorge.peralta.718", :target => "_blank" do %>
			<span class="fa fa-facebook" aria-hidden="true"></span>
			<% end %>
			<%= link_to "https://twitter.com/japeraltag", :target => "_blank" do %>
			<span class="fa fa-twitter" aria-hidden="true"></span>
			<% end %>
			<%= link_to "http://innovaciondisruptiva.blogspot.mx/", :target => "_blank" do %>
			<span class="fa fa-medium" aria-hidden="true"></span>
			<% end %>
			<br><br>
<p>
	Fundador de IdeariaLab e Innovación Disruptiva, agencia de innovación. Desarrolla modelos de innovación y transformación de empresas. Es experto en innovación y lanzamiento de nuevos productos y servicios. Trabaja con emprendedores de alto impacto en el diseño de modelos de negocio. Impulsor del ecosistema emprendedor en México. Coautor y coordinador del libro “Más allá del Business Plan”.
	</p>
</p>
</div>
</div>
</div>