<div class="container">
<div id="rocko">
<div class="col-md-4 col-md-offset-1">
	<div class="imagen">
		<%= image_tag src="Alex.jpg" %>
	</div>
</div>
<div class="col-md-5">
	<h3>Marizu Musi</h3>
	<h5>Director de Tecnología</h5>
			<%= link_to "https://www.facebook.com/arturoalex.romo", :target => "_blank" do %>
			<span class="fa fa-facebook" aria-hidden="true"></span>
			<% end %>
			<%= link_to "http://twitter.com/aleks_romo", :target => "_blank" do %>
			<span class="fa fa-twitter" aria-hidden="true"></span>
			<% end %>
			<%= link_to "https://medium.com/@arturito.io", :target => "_blank" do %>
			<span class="fa fa-medium" aria-hidden="true"></span>
			<% end %>
			<br><br>
<p>
Diseñador por profesión, programador por vocación. <br>
Desde 2011 ha trabajado como diseñador independiente y, en 2015, se integró al equipo de Idearia lab como Director de Tecnología. <br> Es egresado del programa Desafío LATAM en programación. Certificado en Scrum Master, metodología de gestión de proyectos.
</div>
</div>
</div>