<div id="modli">
<!-- Modal -->
<div class="modal fade" id="MasterModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h5>Caso de éxito</h5>
                <hr class="lefty">
                <h3 class="izquierdo">Master Card</h3>
                <br>
                <h5>Reto:</h5>
                    <p>Acceso a un modelo de innovación de última generación que permitiera desarrollar un laboratorio de innovación propio.</p>
                <h5>Solución:</h5>
                <p>Desarrollo de un modelo de Laboratorio de Innovación con estrategia, equipo, proceso y cultura</p>

                <h5>Resultados:</h5>
                <p>Implementación del modelo de innovación interno que ha promovido proyectos de intraemprendimiento.</p>

                <!-- <button type="button" class="button button_red" data-toggle="modal" data-target="#PhotoModal"> Conoce más</button> -->
            </div>
        </div>
    </div>
</div>
</div>
<!--  -->