<div class="container">
<div id="rocko">
<div class="imagen2 visible-xs">
	<%= image_tag src="miguel.jpg" %>
</div>
<div class="col-md-5 col-md-offset-1 der">
	<h3>Miguel Estuardo Oquendo Torres</h3>
	<h5>Idearia Lab Guatemala</h5>
			<br><br>
<p>
Director Comercial de UNIS Business School escuela asociada al IPADE e IESE. Director de Entrega y Vinculación Internacional. Director del Programa de Propietarios y Directivos PPD. Consultor empresarial, especialista en innovación y negociación. Profesor de los cursos: Negociación y Creatividad, Innovación y Tecnología. </p>
</p>
</div>
<div class="col-md-4 hidden-xs">
	<div class="imagen2">
		<%= image_tag src="miguel.jpg" %>
	</div>
</div>
</div>
</div>