<div class="container">
<div id="rocko">
<div class="imagen2 visible-xs">
	<%= image_tag src="Nemesio.jpg" %>
</div>
<div class="col-md-5 col-md-offset-1 der">
	<h3>Nemesio Arriola Ramírez</h3>
	<h5>Director de Gestión de Talento</h5>
			<%= link_to "https://www.facebook.com/nemesio.arriolaramirez", :target => "_blank" do %>
			<span class="fa fa-facebook" aria-hidden="true"></span>
			<% end %>
			<%= link_to "https://mx.linkedin.com/in/nemesio-arriola-a6840426", :target => "_blank" do %>
			<span class="fa fa-linkedin" aria-hidden="true"></span>
			<% end %>
			<br><br>
<p>
Experto en desarrollo de competencias. Colabora con organizaciones de todo tipo en la innovación de sus procesos de gestión humana para liberar el talento de su gente. Impulsa proyectos de emprendimiento ciudadano. Autor del libro Armoniza tu interior. <br>Contador Público por el ITESM y Maestro en Pedagogía por la Universidad Panamericana. Coach ontológico por World Coaching Corp.
</p>
</div>
<div class="col-md-4 hidden-xs">
	<div class="imagen2">
		<%= image_tag src="Nemesio.jpg" %>
	</div>
</div>
</div>
</div>