<div id="modli">
<!-- Modal -->
<div class="modal fade" id="PraxairModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h5>Caso de éxito</h5>
                <hr class="lefty">
                <h3 class="izquierdo">Praxair</h3>
                <br>
                <h5>Reto:</h5>
                    <p>Poca aceptación del mercado ante un nuevo producto de la empresa.</p>
                <h5>Solución:</h5>
                <p>Investigación de las variables que el cliente considera que generan valor y diseño de la estrategia comercial y plan de lanzamiento del producto.</p>

                <h5>Resultados:</h5>
                <p> Nueva estrategia de comercialización de su producto cara al consumidor final.</p>

                <button type="button" class="button button_red" data-toggle="modal" data-target="#PhotoModal"> Conoce más</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--  -->