<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>

<div class="container">
<div id="titulo" class="row">
	<h2>En seguida nos pondremos en contacto</h2>
	<hr>
	<p>Gracias por comunicarte</p>
</div>
</div>