/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Merriweather');


@font-face{
font-family:"Sophia";
  src:asset-url("Sofia-Pro-Regular.otf") format("opentype");
}



$light_red: #031f3c;
$red: #e13b8d;
$grey: #CCCCCB;
$back: #f6f6f6;
$blue: #0099ff;

body {
font-family: 'Merriweather', serif;
-webkit-font-smoothing: antialiased;
background-color: $back;
color: $red;
text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, label, button {
  font-family: "Sophia",serif !important;
}

.logo {
	text-align: center;
	padding: 1rem;
  img {
  width: 155px;
}
}

#nav {
	text-transform: uppercase !important;
	text-align: center;
	a {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	color: #555;
	
	span {
		color: $red;
		font-size: 15px;
	}
  .two {
      color: white !important;
    }
}
}

#magic {
	margin: 0;
	background-color: white;
  border-radius: 1px;
  border: solid 1px #e2e8ea;
  -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
}

p, a {
	color: #6A6C6C;
  font-family: 'Merriweather', serif;
}

a {
  &:hover {
    text-decoration: none;
    background-color: transparent;
    color: $red;
  }
}


.button {
  transition: background-color .15s linear;
  font-size: 14px;
  text-transform: uppercase;
  min-width: 200px;
  border-radius: 2px;
  font-weight: 500;
  padding: 13px 10px 10px 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-top: .2rem;
  background-color: transparent;
  font-weight: 900;
}

.button_red {
  color: white !important;
  background-color: $red;
  border: solid 2px $red;
  &:hover {
    color: $red !important;
    background-color: transparent;
  }

  &:hover > a {
  color: white;
  background-color: $red;
  }
}


.button_blue {
  color: white !important;
  background-color: $blue;
  border: solid 2px $blue;
  &:hover {
    color: $blue !important;
    background-color: transparent;
  }

  &:hover > a {
  color: white;
  background-color: $blue;
  }
}

.button_red2 {
  color: $red;
  background-color: transparent;
  border: solid 2px $red;
  &:hover {
    color: white !important;
    background-color: $red;
  }

  &:hover > a {
  color: white;
  background-color: $red;
  }
}

.button_blue2 {
  color: $blue;
  background-color: transparent;
  border: solid 2px $blue;
  &:hover {
    color: white !important;
    background-color: $blue;
  }

  &:hover > a {
  color: white;
  background-color: $blue;
  }
}

.button_block {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
  font-weight: 700;
}

.center {
  text-align: center;
}


input[type="url"],input[type="date"],input[type="name"], input[type="email"], input[type="textbox"], input[type="number"], input[type="tel"], input[type="text"], input[type="password"], textarea, select {
  width: 100%;
  height: 3.5rem;
  border:none;
  border-bottom:1.3px solid #dadada;
  margin-bottom: 1.5rem;
  background-color: white !important;
  }

  textarea {
    height: 20rem !important;
  }

  label {
  margin-top: 1rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #dadada;
}


.pagination {
    font-size: 12px;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    background: $red none repeat scroll 0 0;
    color: white;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: $red none repeat scroll 0 0;
    color: white;
}

.pagination .disabled {
    color: #C0C0C0;
}


 #banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 1rem;
  background-attachment: fixed;
  /*background-blend-mode: multiply;*/
  margin: 0;
   /*-webkit-clip-path: polygon(0 0, 1600px 0, 1600px 72%, 0 100%);*/
  /*clip-path: polygon(0 0, 1600px 0, 1600px 72%, 0 100%);*/

}

.cover_home {
  background-image: image-url("innova_cover2.jpg");
  height: 100vh;

/*    &:before {
  content: '';
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 15px;*/
   /* background: $red; /* For browsers that do not support gradients */    
    /*background: -webkit-linear-gradient(left top, $red, $blue); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right, $red, $blue); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom right, $red, $blue); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to bottom right, $red, $blue);  Standard syntax (must be last) */
  /*opacity: .6; */
  /*}*/
}

.typed2 {
  text-align: left;
	
	font-size: 80px;
	color: #222;
	margin: 0px;
  font-weight: 900;
  position: absolute;
  top: 40%;
  left: 40px;
  /*transform: translate(-50%, -50%);*/

strong {
  color: $red;
}
}

.typed {
	color: #555;
	
	font-size: 3.2rem;
	margin: 0px;
  font-weight: 300;
  letter-spacing: 100;
  position: absolute;
  text-align: left;
  top: 52%;
  left: 40px;
  /*transform: translate(-50%, -50%);*/

}

.hommie {
  position: absolute;
  top: 60%;
  left: 40px;
}

.uni {
  display: block;
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
}
@media (max-width: 800px)
{

#banner {
background-attachment: unset;
}

.typed2 {
	font-size: 90px;
}

.typed {
	font-size: 35px;
  top: 60%;
}

.hommie {
  top: 70%;

}
}


@media (max-width: 550px)
{

.typed2 {
  font-size: 47px;
}

.typed {
  font-size: 20px;
}
}

#fondo {
  .img2 {
    img {
      position: fixed;
      top: -7%;
      right: 12%;
    }
  }

  .img3 {
    img {
      position: fixed;
      top: -6%;
      left: 12%;
    }
  }

  .img4 {
    img {
      position: fixed;
      top: 70%;
      left: -1%;
    }
  }

  .img5 {
    img {
      position: fixed;
      top: 50%;
      right: 5%;
    }
  }
}

hr {
  border-color: $grey;
  border-width: 1.5px;
  max-width: 100px;
}
hr.light {
  border-color: white;
}

hr.red {
  border-color: $red;
}

hr.lefty {
  border-color: $grey;
  border-width: 1.5px;
  max-width: 100px;
  margin-left: .5rem;
}

hr.leve {
  border-color: $grey;
  border-width: .5px;
  margin-top: 5px;
  max-width: 50px;
  margin-left: 0;
}

hr.righty {
  border-color: $grey;
  border-width: 1.5px;
  max-width: 100px;
  margin-right: .5rem;
}

#texto {
  margin: 50px 0;
  h1 {
    color: #555;
    text-align: center;
    font-size: 25px;
    strong {
      font-size: 70px;
      color: $blue;
      font-family: 'Kalam', cursive;
    }
  }
}



#rocko {
  margin: 0 auto;
  margin-bottom: 15px;
  border-top: solid 2px #f6f6f6; 
  padding: 20px 0;

.imagen {
img {
-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
width: 100%;
}
}

.imagen2 {
img {
-webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
width: 100%;
}
}

.der {
  text-align: right;
}

h3 {
  color: $red;
  font-size: 26px;
  font-weight: 900;
}

h5 {
  color: #a7a7a7;
  font-size: 15px;
}

span {
  margin-right: 10px;
  font-size: 15px;
}

}

#head {
  z-index: 33;

  a{
  font-family: "Sophia",serif !important;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #727272;
}
li {
  padding: 0px 6px;
}
.active {
  border-bottom: solid 2px $red;
  a{
  color: black;
}
}

.active2 {
  a{
  color: $blue;
}
}

.nuevo {
  border-top: solid 1px #f4f2f2;
}
}

#acuario {
  background-color: white;
  margin-top: -10rem;
  padding: 15px;
  padding-bottom: 140px;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
h3 {
  color: black;
  font-size: 2.5em;
  font-weight: 900;
  margin-top: 5px;
  text-align: left;
}

h5 {
  margin-top: 10px;
  color: #adadad;
  text-transform: uppercase;
  text-align: left;
}

.fade2 {
  padding-right: 15%;
}

#cuatro {
margin-top: 15px;
border-bottom: solid 2px $red;

h2 {
  color: black;
  font-size: 1.3em;
  text-align: center;
}
p {
  font-size: .9em;
  text-align: center;
}

.imagen2 {
  text-align: center;
}
img {
  width: 150px;
}
}
}

  h5 {
  margin-top: 10px;
  color: #adadad;
  text-transform: uppercase;
}

h3 {
  color: black;
  font-size: 2.2em;
  font-weight: 900;
  margin-top: 5px; 
}

#test {
  padding: 20px;
  text-align: center;
}

#new  {
  background-color: white;
  padding: 70px 30px;
  -webkit-clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);

  h5 {
  margin-top: 10px;
  color: #adadad;
  text-transform: uppercase;
  text-align: center;

}

h2 {
  color: black;
  font-size: 1.7em;
  font-weight: 900;
  margin-top: 5px; 
}
p {
  font-size: .9em;
}

img {
  margin-top: 30px;
}

}

#footer {
  background-color: $light_red;
  padding: 30px 0;
  h6 {
    color: white;
    font-size: 1em;
  }
  #iconos {
      span {
      margin-right: 10px;
      color: $blue;
      font-size: 20px;
      &:hover {
        color: white;
      }
    }
  }
  p, a {
    color: white;
    font-size: .9em;
    font-family: "Sophia",serif !important;
  }
}

#clientes {
  text-align: center;
  padding: 70px 30px;
  img {
    margin-top: 20px;
    width: 110px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
  }
  h3, h5, {
    text-align: right;
  }
}

#numeralia {
  background-color: white;
  -webkit-clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
  padding: 90px 30px 50px 30px;
  text-align: center;
  h4 {
    color: black;
    font-size: 1em;
  }
  h2 {
    font-size: 36px;
  }
  .gris {
    border-left: solid 2px black;
    margin-top: 30px;
  }
  .gris2 {
    margin-top: 30px;

  }
}

#contact {
  background-image: image-url("innova_cover.jpg");
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /*margin-bottom: 1rem;*/
  background-attachment: fixed;
  background-blend-mode: multiply;
  margin: 0;
  background-color: #989898;

   
}


#content {
  text-align: center;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 800px)
{

#content {
background-attachment: unset;
}
}
